body{
    margin: 0;
    font-size: 14pt;
    font-family: sans-serif;
}

header {
    display: flex;
    background: #6c4834;
    align-items: center;
    padding: 5px;
}

header nav ul {
    display: inline;
    transition: .25s ease-in-out;
    color: #f8f8f8;
    cursor: pointer;
}

header nav ul:hover {
    display: inline;
    transition: .25s ease-in-out;
    color: #f8f8f8;
    cursor: pointer;
}
header img {
    height: 60px;
    cursor: pointer;
    margin-right: 40px
}

#masthead {
    width: 100vw;
    height: auto;
}

#NNF {
    display: flex;
    align-items: center;
    width: 90vw;
    flex-direction: column;
}

#grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

#grid span{
    width: 25vw;
    background: #6c4834;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fefefe;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    margin: 10px;
    height: 30vw;
}

